.redDot {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
.greenDot {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}
.bb{
    color: #3366CC;
}
.br{
    color: #DC3912;
}
body{
    font-family: Helvetica, Arial, sans-serif;
}